Connected Services/ServiceReference1/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55007/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:55007/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GroupProject" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="type" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="loginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardholdername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expdate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getUserResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getUsersResult" nillable="true" type="q4:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prod_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getProductResult" nillable="true" type="q5:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getAllProductsResult" nillable="true" type="q6:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getActiveProductsResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isProdAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category_ID" type="xs:int" />
        <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="product_image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="product_price" type="xs:decimal" />
        <xs:element minOccurs="0" name="product_description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="product_quantity" type="xs:int" />
        <xs:element minOccurs="0" name="product_availability" type="xs:boolean" />
        <xs:element minOccurs="0" name="product_UpdatedAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isProdAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isProdAddedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="product" nillable="true" type="q8:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getCategoryResult" nillable="true" type="q9:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prod_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoice_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getInvoiceResult" nillable="true" type="q10:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Customer_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getInvoicesResult" nillable="true" type="q11:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoice_id" type="xs:int" />
        <xs:element minOccurs="0" name="product_id" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceline_quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInvoiceLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIvoiceLineItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inv_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIvoiceLineItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getIvoiceLineItemsResult" nillable="true" type="q12:ArrayOfInvoiceline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer_id" type="xs:int" />
        <xs:element minOccurs="0" name="order_Delivery_Staus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoice_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getOrderResult" nillable="true" type="q13:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getOrdersResult" nillable="true" type="q14:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editOrderStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductsByQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductsByQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getProductsByQueryResult" nillable="true" type="q15:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getAllInvoicesResult" nillable="true" type="q16:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceLineItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceLineItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getInvoiceLineItemsResult" nillable="true" type="q17:ArrayOfInvoiceline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoiceLineItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoiceLineItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GroupProject" minOccurs="0" name="getAllInvoiceLineItemsResult" nillable="true" type="q18:ArrayOfInvoiceline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="card_acc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Customer_ID" type="xs:int" />
        <xs:element minOccurs="0" name="card_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="card_cvv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exp_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="card_isActive" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>